
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>联系我们</title>
    <link rel="alternate icon" type="image/png" href="/viewAbout/images/favicon.ico">
    <link rel="stylesheet" href="/viewAbout/css/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="/viewAbout/css/app.css" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-main">
                <div class="logo">
                    <a href="#"><img src="/viewAbout/images/logo.png" alt=""></a>
                </div>
                <div class="nav">
                    <a href="/photogf/Index">首页</a>
                    <a href="/photogf/NewsList">新闻中心</a>
                    <a href="/photogf/about">关于我们</a>
                    <a href="/photogf/Portfolio">作品案例</a>
                    <a href="/Photogf/Contact" class="on">联系我们</a>
                </div>
            </div>
        </div>
        <div class="banner3"></div>
        <div class="container" style="background:url(/viewAbout/images/index-bg.jpg) no-repeat 0 0;">
            <div class="container-main">
                <div style="padding:30px 0;">
                    <div style="width:100%; height:550px; border:#ccc solid 1px;" id="dituContent"></div>
                </div>
                <div class="address">
                    <div class="address-list">
                        <span class="iconfont icon-location" style="background-color:#e04d69;"></span>
                        <p>地址：湖北省长沙市芙蓉中路<br>新时代广场南栋1025</p>
                    </div>
                    <div class="address-list">
                        <span class="iconfont icon-mobile" style="background-color:#3fb135;"></span>
                        <p>电话: 0731-8990-3285</p>
                    </div>
                    <div class="address-list">
                        <span class="iconfont icon-mail"></span>
                        <p>邮箱：creep0804@163.com</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <div class="container-main">
                <div class="custom-us">
                    <a href="https://wx.qq.com/" target="_blank" class="custom-us-01"></a>
                    <a href="http://im.qq.com/pcqq/" class="custom-us-02" target="_blank"></a>
                    <a href="https://weibo.com/" class="custom-us-03" target="_blank"></a>
                    <a href="http://www.pengyou.com/" class="custom-us-04" target="_blank"></a>
                </div>
                <div class="copyright">
                    电话：0731-8990-3285 &nbsp;&nbsp;地址：湖北省长沙市芙蓉中路新时代广场南栋1025
                    <br>湘ICP备15006511号-1 &nbsp;&nbsp;版权归长沙楚翔摄影技术有限公司所有
                </div>
            </div>
        </div>
    </div>
    <script src="/viewAbout/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>
    <script type="text/javascript">
        //创建和初始化地图函数：
        function initMap() {
            createMap();//创建地图
            setMapEvent();//设置地图事件
            addMapControl();//向地图添加控件
            addMarker();//向地图中添加marker
        }

        //创建地图函数：
        function createMap() {
            var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
            var point = new BMap.Point(112.994611, 28.225533);//定义一个中心点坐标
            map.centerAndZoom(point, 18);//设定地图的中心点和坐标并将地图显示在地图容器中
            window.map = map;//将map变量存储在全局
        }

        //地图事件设置函数：
        function setMapEvent() {
            map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
            map.enableScrollWheelZoom();//启用地图滚轮放大缩小
            map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
            map.enableKeyboard();//启用键盘上下左右键移动地图
        }

        //地图控件添加函数：
        function addMapControl() {
            //向地图中添加缩放控件
            var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
            map.addControl(ctrl_nav);
            //向地图中添加缩略图控件
            var ctrl_ove = new BMap.OverviewMapControl({ anchor: BMAP_ANCHOR_BOTTOM_RIGHT, isOpen: 1 });
            map.addControl(ctrl_ove);
            //向地图中添加比例尺控件
            var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
            map.addControl(ctrl_sca);
        }

        //标注点数组
        var markerArr = [{ title: "楚翔摄影技术有限公司", content: "芙蓉中路新时代广场南栋1025", point: "112.994544|28.225437", isOpen: 1, icon: { w: 21, h: 21, l: 0, t: 0, x: 6, lb: 5 } }
        ];
        //创建marker
        function addMarker() {
            for (var i = 0; i < markerArr.length; i++) {
                var json = markerArr[i];
                var p0 = json.point.split("|")[0];
                var p1 = json.point.split("|")[1];
                var point = new BMap.Point(p0, p1);
                var iconImg = createIcon(json.icon);
                var marker = new BMap.Marker(point, { icon: iconImg });
                var iw = createInfoWindow(i);
                var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
                marker.setLabel(label);
                map.addOverlay(marker);
                label.setStyle({
                    borderColor: "#808080",
                    color: "#333",
                    cursor: "pointer"
                });

                (function () {
                    var index = i;
                    var _iw = createInfoWindow(i);
                    var _marker = marker;
                    _marker.addEventListener("click", function () {
                        this.openInfoWindow(_iw);
                    });
                    _iw.addEventListener("open", function () {
                        _marker.getLabel().hide();
                    })
                    _iw.addEventListener("close", function () {
                        _marker.getLabel().show();
                    })
                    label.addEventListener("click", function () {
                        _marker.openInfoWindow(_iw);
                    })
                    if (!!json.isOpen) {
                        label.hide();
                        _marker.openInfoWindow(_iw);
                    }
                })()
            }
        }
        //创建InfoWindow
        function createInfoWindow(i) {
            var json = markerArr[i];
            var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
            return iw;
        }
        //创建一个Icon
        function createIcon(json) {
            var icon = new BMap.Icon("http://map.baidu.com/image/us_mk_icon.png", new BMap.Size(json.w, json.h), { imageOffset: new BMap.Size(-json.l, -json.t), infoWindowOffset: new BMap.Size(json.lb + 5, 1), offset: new BMap.Size(json.x, json.h) })
            return icon;
        }

        initMap();//创建和初始化地图
    </script>

</body>
</html>