
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>详细页</title>
    <link rel="alternate icon" type="image/png" href="/viewAbout/images/favicon.ico">
    <link rel="stylesheet" href="/viewAbout/css/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="/viewAbout/css/app.css" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-main">
                <div class="logo">
                    <a href="#"><img src="/viewAbout/images/logo.png" alt=""></a>
                </div>
                <div class="nav">
                    <a href="/photogf/Index">首页</a>
                    <a href="/photogf/about">关于我们</a>
                    <a href="/photogf/Portfolio">作品案例</a>
                    <a href="/Photogf/Contact">联系我们</a>
                </div>
            </div>
        </div>
        <div class="banner4">
            <div class="video" style="background-color:#222;">

                <iframe height=600 width=1200 src='@ViewBag.Video' frameborder=0 'allowfullscreen'></iframe>
            </div>
        </div>
        <div class="container" style="background:url(/viewAbout/images/index-bg.jpg) no-repeat 0 0;">
            <div class="container-main">
                <div class="video-info">
                    <div class="video-info-hd">案例介绍</div>
                    <div class="video-info-bd">@(new HtmlString(System.Web.HttpUtility.UrlDecode(ViewBag.Product.productContent)))</div>
                </div>
                <div class="video-info" style="border-top:1px dashed #ddd;">
                    <div class="video-info-hd">案例图片</div>
                    <div class="video-info-bd">
                        @foreach (var item in ViewBag.Imgs)
                        {
                            <span><img src="@item.filePath" width="350" alt=""></span>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-main">
                <div class="custom-us">
                    <a href="https://wx.qq.com/" target="_blank" class="custom-us-01"></a>
                    <a href="http://im.qq.com/pcqq/" class="custom-us-02" target="_blank"></a>
                    <a href="https://weibo.com/" class="custom-us-03" target="_blank"></a>
                    <a href="http://www.pengyou.com/" class="custom-us-04" target="_blank"></a>
                </div>
                <div class="copyright">
                    电话：0731-8990-3285 &nbsp;&nbsp;地址：湖北省长沙市芙蓉中路新时代广场南栋1025
                    <br>湘ICP备15006511号-1 &nbsp;&nbsp;版权归长沙楚翔摄影技术有限公司所有
                </div>
            </div>
        </div>
    </div>
    <script src="/viewAbout/js/jquery.min.js"></script>
</body>
</html>