
@{
    Layout = "~/Views/Shared/_Loyat.cshtml";
    ViewBag.Title = "详细页";
}


<div class="banner4">
    <div class="video" style="background-color:#222;">

        <iframe height=600 width=1200 src='@ViewBag.Video' frameborder=0 'allowfullscreen'></iframe>
    </div>
</div>
<div class="container" style="background:url(/viewAbout/images/index-bg.jpg) no-repeat 0 0;">
    <div class="container-main">
        <div class="video-info">
            <div class="video-info-hd">案例介绍</div>
            <div class="video-info-bd">@(new HtmlString(System.Web.HttpUtility.UrlDecode(ViewBag.Product.productContent)))</div>
        </div>
        <div class="video-info" style="border-top:1px dashed #ddd;">
            <div class="video-info-hd">案例图片</div>
            <div class="video-info-bd">
                @foreach (var item in ViewBag.Imgs)
                {
                    <span><img src="@item.filePath" width="350" alt=""></span>
                }


            </div>
        </div>
    </div>
</div>
