
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>首页</title>
    <link rel="alternate icon" type="image/png" href="/viewAbout/images/favicon.ico">
    <link rel="stylesheet" href="/viewAbout/css/iconfont.css" type="text/css" />
    <link rel="stylesheet" href="/viewAbout/css/app.css" type="text/css" />
</head>
<body>
    <div class="page">
        <div class="header">
            <div class="header-main">
                <div class="logo">
                    <a href="#"><img src="/viewAbout/images/logo.png" alt=""></a>
                </div>
                <div class="nav">
                    <a href="/photogf/Index" class="on">首页</a>
                    <a href="/photogf/NewsList">新闻中心</a>
                    <a href="/photogf/about">关于我们</a>
                    <a href="/photogf/Portfolio">作品案例</a>
                    <a href="/Photogf/Contact">联系我们</a>
                </div>
            </div>
        </div>
        <div class="focus">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background: url('/viewAbout/images/focus-01.jpg') center; background-size: 100% 100%;"></li>
                    <li style="background: url('/viewAbout/images/focus-02.jpg') center; background-size: 100% 100%;"></li>
                    <li style="background: url('/viewAbout/images/focus-01.jpg') center; background-size: 100% 100%;"></li>
                </ul>
                <div class="hot-slogan" id="slogan">
                    <div class="hot-img">
                        <img src="/viewAbout/images/pic_1.jpg" alt="">
                        <span class="hot-sm" style="display:inline-block;">上帝视角的航拍</span>
                    </div>
                    <div class="hot-img">
                        <img src="/viewAbout/images/pic_2.jpg" alt="">
                        <span class="hot-sm" style="display:none;">身临其境的vr</span>
                    </div>
                    <div class="hot-img">
                        <img src="/viewAbout/images/pic_3.jpg" alt="">
                        <span class="hot-sm" style="display:none;">酷炫的动画效果</span>
                    </div>
                    <div class="hot-img-wechat">
                        <img src="/viewAbout/images/wechat-q.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background:url(/viewAbout/images/index-bg.jpg) no-repeat 0 0;">
            <div class="container-main">
                <div class="product">
                    <div class="product-hd text-center">
                        <img src="/viewAbout/images/title-01.png" alt="作品案例">
                        <p>楚翔影视精品案例</p>
                    </div>
                    <div class="product-bd">
                        <div class="product-bd-left">
                            <!-- <img src="images/youku-video.jpg" height="453" width="559" alt=""> -->

                            <iframe height=453 width=559 src='@ViewBag.filePath' frameborder=0 'allowfullscreen'></iframe>
                        </div>
                        <div class="product-bd-right">
                            <div class="prouduct-type" id="AllType">
                                <a href="javascript:void(0)" onclick="GetVideoList(this)" rel="0" class="on">全 部</a>
                            </div>
                            <div class="product-main" id="p1">
                                @*<div class="product-list">
                                        <img src="/viewAbout/images/product-01.jpg" alt="">
                                        <div class="product-list-sm" style="display:block;">
                                            <h3 class="text-center">长房集团</h3>
                                            <p>通过对人物的跟踪，记录一个对城市有梦想的年轻人进入长房工作，实现梦想的故事</p>
                                            <a href="案例详细页.html" class="iconfont icon-video" title="播放"></a>
                                        </div>
                                    </div>*@

                            </div>
                            <div class="product-main" id="p2">

                            </div>
                        </div>
                    </div>
                    <div class="product-ft text-center">
                        <span>
                            <a href="/photogf/Portfolio" class="iconfont icon-more" title="查看更多"></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="container-main">
                <div class="index-about">
                    <div class="index-about-hd text-center">
                        <img src="/viewAbout/images/title-02.png" alt="关于我们">
                        <p>我们的团队</p>
                    </div>
                    <div class="index-about-bd">
                        <div class="about-info">
                            公司由几个做航拍的，飞无人机，玩云台摄影，做营销，画图，和动画的组成。<br>
                            还有一个财务妹子！公司团队很年轻，年轻到卖房的都不愿意给我们发传单。<br>
                            But，我们很有激情，我们能够做很多的让人眼前一亮的事情，比如您现在正在看的PPT。 我们用自己的工具配上脑洞，可以帮助您解决您企业（景区）的宣传拍摄，以及autopano tour（vr漫游系统），渲染动画和效果片。<br>
                            无论是上帝视角的航拍，还是身临其境的vr，或者是酷炫的动画效果，我们都可以给你做。
                        </div>
                        <div class="about-author">
                            <div class="author-list on">
                                <div class="author-pic">
                                    <img src="/viewAbout/images/author-01.jpg" width="100%" height="220" alt="张文">
                                </div>
                                <div class="author-info">
                                    <h3 class="text-center">张 文</h3>
                                    <p class="text-center">创意导演</p>
                                    <p>参与了电影《盗墓笔记》，《天降雄师》等电影的航拍制作，前DJI飞控研究人员，在影视制作和无人机航拍领域有丰富的经验</p>
                                </div>
                            </div>
                            <div class="author-list">
                                <div class="author-pic">
                                    <img src="/viewAbout/images/author-02.jpg" width="100%" height="220" alt="张文">
                                </div>
                                <div class="author-info">
                                    <h3 class="text-center">聂 品</h3>
                                    <p class="text-center">摄影</p>
                                    <p>摄影师 电影《盗墓笔记》《天降雄狮》航拍摄影师 参与众多电视节目、广告拍摄与制作.</p>
                                </div>
                            </div>
                            <div class="author-list">
                                <div class="author-pic">
                                    <img src="/viewAbout/images/author-03.jpg" width="100%" height="220" alt="张文">
                                </div>
                                <div class="author-info">
                                    <h3 class="text-center">黄济邦</h3>
                                    <p class="text-center">营销策划</p>
                                    <p>参与制作奥迪湖南地区的广告方案，在营销方面和创意策划上有新颖的见解.</p>
                                </div>
                            </div>
                            <div class="author-list">
                                <div class="author-pic">
                                    <img src="/viewAbout/images/author-04.jpg" width="100%" height="220" alt="张文">
                                </div>
                                <div class="author-info">
                                    <h3 class="text-center">李东奇</h3>
                                    <p class="text-center">动画制作</p>
                                    <p>参与了《国坛夜画》《顺丰无人机展示》《华帝智能厨房》《贵州•凯里》等三维动画项目的前后期制作.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="container-main">
                <div class="custom-us">
                    <a href="https://wx.qq.com/" target="_blank" class="custom-us-01"></a>
                    <a href="http://im.qq.com/pcqq/" class="custom-us-02" target="_blank"></a>
                    <a href="https://weibo.com/" class="custom-us-03" target="_blank"></a>
                    <a href="http://www.pengyou.com/" class="custom-us-04" target="_blank"></a>
                </div>
                <div class="copyright">
                    电话：0731-8990-3285 &nbsp;&nbsp;地址：湖北省长沙市芙蓉中路新时代广场南栋1025
                    <br>湘ICP备15006511号-1 &nbsp;&nbsp;版权归长沙楚翔摄影技术有限公司所有
                </div>
            </div>
        </div>
    </div>
    <script src="/viewAbout/js/jquery.min.js"></script>
    <script src="/viewAbout/js/poposlides.js"></script>
    <script src="http://api.html5media.info/1.2.2/html5media.min.js"></script>
    <script>
        // 焦点图
        $(".slides").poposlides({
            pagination: true,
            playspeed: 5000,
            fadespeed: 1000
        });

        // slogn图
        $('#slogan .hot-img').find('img').hover(function () {
            var _this = $(this);
            $('#slogan').find('.hot-sm').hide();
            _this.siblings('.hot-sm').show();
        })
        Load = function () {


            //产品
            $('.product-list').hover(function () {
                var _this = $(this);
                _this.find('.product-list-sm').stop().animate({ 'bottom': 0 }, 300);
            },
                function () {
                    var _this = $(this);
                    _this.find('.product-list-sm').stop().animate({ 'bottom': '-160px' }, 300);
                })
        }

        GetVideoList = function (obj) {
            var id;
            if (obj != 0)
            {
                id = $(obj).attr("rel");
                $(".on").removeClass();
                $(obj).addClass("on");
            }
            else
                id = 0;

            $.post("/ajax/GetTopNVideoByProductType", { productTypeID: id, num: 4 }, function (data) {
                $("#p1").empty();
                $("#p2").empty();
                console.log(data);
                $.each(data, function (index, lt) {
                    var $html = '<div class="product-list">' +
                        '<img src= "' + lt.imgUrl + '" alt= "">' +
                        '<div class="product-list-sm" style="display:block;">' +
                        '<h3 class="text-center">' + lt.Title + '</h3>' +
                        '<p>' + lt.Introduct + '</p>' +
                        '<a href="/photogf/details/' + lt.id + '" class="iconfont icon-video" title="播放"></a></div>' +
                        '</div>';
                    if (index < 2)
                        $("#p1").append($html);
                    else
                        $("#p2").append($html);
                })
                Load();
            }, "json");
        }

        $(function () {
            $.post("/ajax/GetProductType", function (data) {
                $.each(data, function (index, lt) {
                    if (index < 5)
                        $("#AllType").append('<a href="javascript:void(0)" onclick="GetVideoList(this)" rel="' + lt.Value + '">' + lt.Name + '</a>')
                });
                GetVideoList(0);
            }, "json")
            Load();
        })
    </script>
</body>
</html>
