

@{
    Layout = "~/Views/Shared/_Loyat.cshtml";
    ViewBag.Title = ViewBag.News.Title;
}

<div class="banner5"></div>
<div class="container" style="background:url(/viewAbout/images/index-bg.jpg) repeat-y 0 0;">
    <div class="container-main">
        <div class="news">
            <div class="video-info">
                <div class="video-info-hd text-center">@ViewBag.News.Title</div>
                <p style="color:#999; text-align:center; padding-bottom:10px;">@ViewBag.News.LastTime</p>
                <div class="video-info-bd">
                    @Html.Raw(ViewBag.News.Content)
                </div>
            </div>
        </div>
    </div>
</div>