
@{
    Layout = "~/Views/Shared/_Loyat.cshtml";
    ViewBag.Title = "新闻中心";
}

<div class="banner5"></div>
<div class="container" style="background:url(/viewAbout/images/index-bg.jpg) repeat-y 0 0;">
    <div class="container-main">
        <div class="product">
            <div class="product-hd text-center">
                <img src="/viewAbout/images/title-04.png" alt="新闻中心">
                <p>最新新闻尽在这里</p>
            </div>
            <div class="news">
                <ul>
                    @foreach (var item in ViewBag.NewsList)
                    {
                        <li><span style="color:#999; float:right">@item.LastTime</span><a href="/PhotoGF/NewsDetail?id=@item.id">@item.Title</a></li>
                    }
                </ul>
            </div>
            <div id="page" class="page-limit">
                <ul>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function GetPage() {
            var total =@ViewBag.Count;
            var index=@ViewBag.Index;
            $("#page").empty();
            if (total < 10)
                return;
            var pageCount = Math.ceil(total / 10);
            var $a = '<li><a href="NewsList?id={0}"val="{0}" /></a></li>';
            var $span = '<li class="active"><a href="NewsList?id={0}"val="{0}"/></a></li>';
            var $html = "";
            $html += "<ul>";
            $html+=$a.replace("{0}", 1).replace("{0}", "首页");
            if (index - 1 >= 1) {
                $html+=$a.replace("{0}", index - 1).replace("{0}", "上一页");
            }
            else {
                $html+=$a.replace("{0}", 1).replace("{0}", "上一页");
            }
            var s = 0;
            if (pageCount - index > 9) {
                s = pageCount - index - 9;
            }
            var b = index - 2 > 1 ? index - 2 : 1;
            var end = s > 0 ? b + 9 : pageCount;

            for (var i = b; i <= end; i++) {
                if (i == index) {
                    $html+=$span.replace("{0}", i).replace("{0}", i);
                    continue;
                }
                $html +=$a.replace("{0}", i).replace("{0}", i);
            }
            if (index + 1 <= pageCount) {
                $html +=$a.replace("{0}", index + 1).replace("{0}", "下一页");
            }
            else {
                $html +=$a.replace("{0}", pageCount).replace("{0}", "下一页");
            }
            $html +=$a.replace("{0}", pageCount).replace("{0}", "尾页");
            $html += "</ul>";
            $("#page").html($html);
        }
        function setIndex() {
            var aList = $("#page").find("a");
            $.each(aList, function (index, lt) {
                $(lt).append($(lt).attr("val"));
            })
        }
        $(function () {
            GetPage();
            setIndex();
        })
    </script>
}
