
@{
    Layout = "~/Views/Shared/_Loyat.cshtml";
    ViewBag.Title = "作品案例";
}


<div class="banner2"></div>
<div class="container" style="background:url(/viewAbout/images/index-bg.jpg) repeat-y 0 0;">
    <div class="container-main">
        <div class="product">
            <div class="product-hd text-center">
                <img src="/viewAbout/images/title-01.png" alt="作品案例">
                <p>楚翔影视精品案例</p>
            </div>
            <div style="margin-bottom:40px; border:2px dashed #eaeaea; padding:20px; background-color:#fff; line-height:26px;">
                > 甲方提出所需拍摄内容，以及所预期的效果，还有产品使用方向。<br>
                > 公司通过拍摄内容决定拍摄方案，还有拍摄工具，初步报价<br>
                > 制定拍摄计划，等待阳光，视频剪辑，后期处理。<br>
                > 样片给甲方审核，听取甲方意见，修改，提交终稿
            </div>
            <div class="product-bd product-sps">
                <div class="product-bd-all">
                    <div class="prouduct-type" id="AllType">
                        <a href="javascript:void(0)" onclick="GetVideoList(this)" rel="0" class="on">全 部</a>

                    </div>
                    <div class="product-main" style="width:1200px\0;">
                        @*<div class="product-list">
                                <img src="/viewAbout/images/product-01.jpg" alt="">
                                <div class="product-list-sm" style="display:block;">
                                    <h3 class="text-center">长房集团</h3>
                                    <p>通过对人物的跟踪，记录一个对城市有梦想的年轻人进入长房工作，实现梦想的故事</p>
                                    <a href="案例详细页.html" class="iconfont icon-video" title="播放"></a>
                                </div>
                            </div>*@

                    </div>
                </div>
            </div>
            <div class="page-limit">
                <ul id="pages">
                    <li><a href="javascript:void(0)">1</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var reson;

        GetVideoList = function (obj) {
            var id;
            if (obj != 0) {
                id = $(obj).attr("rel");
                $(".on").removeClass();
                $(obj).addClass("on");
            }
            else
                id = 0;

            $.post("/ajax/GetTopNVideoByProductType", { productTypeID: id, num: 0 }, function (data) {
                reson = data;
                fyShow(1);
            }, "json");
        }
        fyShow = function (index) {
            var pageSize = 8;
            var pageCount = reson.length;
            var pageAll = Math.ceil(pageCount / pageSize);
            var num = pageSize;
            var pageIndexCount = (index - 1) * 8;
            if (pageCount == 0)
                return;
            if (index == pageAll) {
                num = pageCount - (index - 1) * 8;
            }
            $(".product-main").empty();
            for (var i = 0; i < num; i++) {
                var ix = pageIndexCount + i;
                console.log(reson[ix]);
                var $html = '<div class="product-list">' +
                    '<img src= "' + reson[ix].imgUrl + '" alt= "" >' +
                    '<div class="product-list-sm" style="display:block;">' +
                    '<h3 class="text-center">' + reson[ix].Title + '</h3>' +
                    '<p>' + reson[ix].Introduct + '</p>' +
                    '<a href="/photogf/details/' + reson[ix].id + '" class="iconfont icon-video" title="播放"></a></div></div >';

                $(".product-main").append($html);
            }
            $("#pages").empty();
            for (var i = 1; i <= pageAll; i++) {
                if (i != index)
                    $("#pages").append('<li><a href="javascript:void(0)" onclick="fyShow(' + i + ')">' + i + '</a></li>');
                else
                    $("#pages").append('<li class="active"><a href="javascript:void(0)" onclick="fyShow(' + i + ')">' + i + '</a></li>');
            }
        }
        $(function () {
            $.post("/ajax/GetProductType", function (data) {
                $.each(data.data, function (index, lt) {
                    $("#AllType").append('<a href="javascript:void(0)" onclick="GetVideoList(this)" rel="' + lt.value + '">' + lt.name + '</a>');
                });
                GetVideoList(0);
            }, "json")
        })
    </script>
}