
@{
    Layout = "~/Views/Shared/_BehindPage.cshtml";
}
<table>
    <tr>
        <td style="text-align:right">项目分类名称：</td>
        <td><input style="width:450px" value="" id="productName" /><br /></td>
    </tr>
    <tr>
        <td style="text-align:right">项目简述: </td>
        <td><textarea style="width:450px; height:300px" value="" id="productContent"></textarea><br /></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center"><input type="button" id="sub" value="提交"></td>
    </tr>
</table>

@section header{
    <script type="text/javascript">
        $(function () {
            $("#sub").click(function () {
                $.post("/ajax/AddItemTypes", { productName: $("#productName").val(), content: $("#productContent").val() }, function (data) {
                    if (data=="1")
                        window.location.href = "ProductType";
                    else
                        alert("have a wrong~");
                }, "json");
            })
        })
    </script>
}

